/**/
#action{
  color: red;
  font-style: italic;
}

#time{
  color: gray;
  position:absolute; 
  bottom:10px; 
  right:10px;
}

#concept{
  color: black;
  position:absolute; 
  bottom:50px; 
  right:10px;
}

  .zikoku{
     color: red;
   }

